/*==============RESETE==============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height:auto;
}
/*============== Base ==============*/
body{
    font: 400 1rem "Raleway", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
h1{
    font: 700 1.875rem "Montserrat", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}
.button{

}

/*==============Variables==============*/
:root{
    --hue:36;
    /*HSL color mode*/
    --base-color:hsl(var(--hue)100% 57%);
    --base-color-second:hsl(var(--hue)94% 79%);
    --base-color-alt:hsl(var(--hue)57% 53%);
    --title-color:hsl(var(--hue)55% 12%);
    --text-color:hsl(0 0% 46%);
    --text-color-light:hsl(0 0% 98%);;
    --body-color:hsl(0 0% 98%);
}


/*==============Layout==============*/
#header{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;

}
.logo{
    font: 700 1.31rem "Montserrat", sans-serif;
    color: var(--title-color);

}
.logo span{
    color: var(--base-color);
}
nav{
    height: 4.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.container{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
    gap:2rem ;
}
.section{
    padding: 5rem 0;
}

/*==============home==============*/
#home.container{
    margin: 0;
}
#home.image img{
    position: relative;
    right: 2.93rem;
}
#home.text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}